h1,
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(233, 231, 231);
}
body{
    background-color: rgb(238, 238, 227);
}


img{
    padding-right: 150;
    padding-bottom: 60;
    align-items:center
;}